# =========================================================
# ENVIRONMENT
# =========================================================

.env
.env.*
!.env.example


# =========================================================
# NODE
# =========================================================

node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*


# =========================================================
# LOGS
# =========================================================

logs/
*.log


# =========================================================
# UPLOADS
# =========================================================

uploads/*
!uploads/properties/
uploads/properties/*


# =========================================================
# OS FILES
# =========================================================

.DS_Store
Thumbs.db


# =========================================================
# IDE
# =========================================================

.vscode/
.idea/


# =========================================================
# TEMPORARY FILES
# =========================================================

*.tmp
*.temp